<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Registration - TinyApp</title>
</head>

<body>
  <% include ./partials/_header %>
  <div class="alert alert-danger " role="alert">
      <h4 class="display-4 font-weight-bold mt-2 mb-4 alert-heading text-center">Error Code: 400 - Bad Request</h4>
      <h5 class="font-weight-bold mb-5 text-center">EMAIL INPUT FIELD IS EMPTY OR ACCOUNT ALREADY EXIST</h5>
  </div>
  <% include ./partials/_register %>
</body>

</html>